.anunciar{
    color: #FF4500;
    font-family: Roboto Condensed;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;

    margin:0;
    /*padding:0;*/

    width: 320px;
    height: 43px;
    position: absolute;
    /*flex-shrink: 0;*/
}