.logo{
    margin:0;
    padding:0;
    position: absolute;
}

.menu1{
    color: #000;
    font-family: Roboto Condensed;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    height: 410px;
    margin:0;
    /*padding:0;*/
    position: absolute;
}